In [46]:
import pandas as pd
s1=pd.Series(['a','b','c','d'])
#s1=pd.Series({'w':'a','c':'b','r':'c','m':'d'})
#s1.name='Example'
s1

0    a
1    b
2    c
3    d
dtype: object

In [41]:
s2=pd.Series(['d','f','g','h'])

In [42]:
s2

0    d
1    f
2    g
3    h
dtype: object

In [49]:
df1=pd.DataFrame([s1,s2], index=['a','b'])
df1

   0  1  2  3
a  a  b  c  d
b  d  f  g  h

In [53]:
df2=pd.DataFrame({'a':[1,2,3,4],'b':[3,4,5,6]})
df2

   a  b
0  1  3
1  2  4
2  3  5
3  4  6

In [54]:
df1.index

Index([u'a', u'b'], dtype='object')

In [58]:
df1.columns.values

array([0, 1, 2, 3])

In [59]:
df1.values

array([['a', 'b', 'c', 'd'],
       ['d', 'f', 'g', 'h']], dtype=object)

In [62]:
df1.name='Hello'
df1.name

'Hello'

In [63]:
df1

   0  1  2  3
a  a  b  c  d
b  d  f  g  h

In [70]:
df1.loc['a']

0    a
1    b
2    c
3    d
Name: a, dtype: object